{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1 id="title">Search bars</h1>

        <button id="search_your" type="button" class="btn btn-default">Get bars from your location</button>
        <button id="search_neptune" type="button" class="btn btn-default">Get bars from Gdańsk Neptune’s Fountain location</button>
        <table id="patternElement" class="hide">
            <tbody>
                <tr id="place_id">
                    <td class="icon"></td>
                    <td class="name"></td>
                    <td class="address"></td>
                    <td class="location"></td>
                </tr>
            </tbody>
        </table>
        <div id="patternLoader" class="hide">
            <div class="loader"></div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody id="elements">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
