<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %} {{ title }}</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/main.js') }}"></script>

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
